@charset "UTF-8";

#sectionContainerCenter {
	width: 100%;
	background-image: url("../../res/img/bg_login.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sectionContainerCenter > #favContainer {
	display: flex;
	flex-direction: column;
}

#sectionContainerCenter > #favContainer > div { 
	border: 3px solid black;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
}