@charset "UTF-8";

#idChkResult {
	font-size: 12px;
	text-align: right;
	color: #bdbdbd;
	margin-left: 6px;
}

span {
   margin-left: 5px;
   font-size: 0.8em;
}

#btnBack {
	text-decoration: none;
	color: #fff;
	font-size: 32px;
}

input[type="text"], input[type="password"] {
   padding-left: 20px;
   width: 250px;
   height: 25px;
   margin: 5px 0 10px;
}

input[type="submit"] {
    border: none;
    background: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    margin-left: 30px;
}

#sectionContainerCenter {
	width: 100%;
	height: 100%;
	background-image: url("../../res/img/bg_login.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	display: flex;
	align-items: center;
	justify-content: center;
}


#sectionContainerCenter > #joinContainer {
	width: 800px;
	height: 600px;
	background: #000;
	border: 5px solid #fff;
 	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm > #joinTitle {
	font-size: 3em;
	margin-bottom: 20px;
	text-align: center;
	
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm > #joinContent {
	display: flex;
	flex-direction: row;
	margin: 30px 0;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm > #joinContent > #joinLeft {
	margin-right: 80px;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm > #joinContent > #joinLeft > #user_id > #idChk {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm > #joinContent > div > div {
	margin-bottom: 10px;
}

#sectionContainerCenter > #joinContainer > #joinBox > #frm  > #joinBottom > #btnBox {
	display: flex;
	justify-content: center;
}

#btnBack:hover, input[type="submit"]:hover {
	color: #5c5b65;
	transition: 0.3s;
}


#profileImgContainer > #uploadProfileImg {
   display: flex;
   align-items: center;
   justify-content: center;
}

#profileImgContainer > #uploadProfileImg > #profileImg {
   width: 175px;
   height: 175px;
   margin: 30px 0;
   border: 5px solid #fff;
   background: #d6d6d6;
   border-radius: 100px;
   overflow: hidden;
}

#profileImgContainer > #uploadProfileImg > #profileImg > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#profileImgContainer > #btnImage {
	display: flex;
	justify-content: center;
}
   